<div id="menu">
  <h2>Iniciar Nueva Partida</h2>
  <%= form_with url: start_game_path, method: :post, id: "player-selection-form", local: true do %>
    <label for="player_symbol">Elige tu símbolo:</label>
    <%= select_tag :player_symbol, options_for_select([['X', 'X'], ['O', 'O']]), id: "player_symbol", class: "form-select" %>
    <%= submit_tag "Iniciar Juego", id: "start_game", class: "btn btn-primary" %>
  <% end %>
</div>
